<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
     body#game_details  {background-color: beige;
     }


    </style>

</head>
<body id="game_details">
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col"></div>
        <div class="col">
            <h1>{{game_name}}</h1><!--jinja magic-->
             <script>
console.log("Hello from console")
var x = {{ game_name|tojson }}
var y = "hello world!"
console.log("value of variable y is: ", y)
console.log("Value of name game var is: ", x)

    </script>


    <p>Here are the details for game {{game_name}}:</p><!--jinja uses double-curlies to get value of a variable-->
    <ul>
        {% for key, value in game_details.items() %}
        <li>{{key}} : {{value}}</li>
        {% endfor %}
    </ul>

        </div>
        <div class="col"></div>
    </div>

</div>

</body>
</html>