<!DOCTYPE html>
<html lang="en">
<head>
 <!DOCTYPE html>
<html>
<body>

<h1>List of Results for {{partial_name}}</h1><!--jinja magic-->

<p>Here are games with the searched partial name: {{partial_name}}:</p>
      <ul>
        {% for name in results %}
        <li><a href="{{ url_for('video_game.display_game_details', name=name) }}">{{name}}</a></li>
        {% endfor %}
      </ul>

<script>
alert("inspect element here for partial name page")//javascript comment (4 languages here)
console.log("Hello from console")
var x = {{ partial_name|tojson }}
var y = "hello world!"
var z = {{results|tojson}}
console.log("value of variable y is: ", y)
console.log("Value of partial name is: ", x)
console.log("Value of results is: ", z)

</script>
</body>
</html>